# Build System requirements
setuptools==79.0.1  # setuptools develop deprecated on 80.0
cmake==3.31.4
ninja==1.11.1.4
numpy==2.1.0
packaging==25.0
pyyaml==6.0.2
requests==2.32.4
six  # dependency chain: NNPACK -> PeachPy -> six
typing-extensions==4.14.0
