# Python dependencies required for development

# Build System requirements
--requirement requirements-build.txt

# Install / Development extra requirements
astunparse==1.6.3
build[uv]  # for building sdist and wheel
expecttest==0.3.0
filelock==3.18.0
fsspec==2025.5.1
hypothesis==6.135.14
jinja2==3.1.6
lintrunner==0.12.7
networkx==3.4.2
optree==0.16.0
psutil==7.0.0
sympy==1.14.0
typing-extensions==4.14.0
wheel
